<h1> "******** Now your result ********<br>
Your attempt: <a><%= @resp %></a><br>
Time: <a><%=@result[:time]%></a><br>
Score: <a><%=@result[:score]%></a><br>
Message:<a><%=@result[:message]%></a><br>
</h1>
<a class="btn btn-primary active" href="/new">reload</a>
